server:
  port: 8002
spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ChangYiLiang/spring-cloud-action/
          search-paths: config-repo
          username: ChangYiLiang
          password: Ch1018818125
#          basedir: /Users/admin/code/myProjects/java/imooc/SpringCloud_Sell/config/basedir
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
#management:
#  endpoints:
#    web:
#      expose: "*"
